/***************************************************************************
***************************************************************************
* author: Dehondt Matthieu
* date: 31.1.17
*
*************************************************************************
***************************************************************************/

/* */
.main-page {

}

section {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
}

/* style for score  */
div.score {
    height: 120px;
    background-color: #999;
    margin-bottom: 10px;
}

p {
    color: #f1f1f1;
    font-weight: bold;
    font-size: 14px;
}

p#message {
    color: #888562;
    text-align: center;
    height: 30px;
    font-size: 18px;
}

/* style for play button */
div.play {
    display:flex;
    height: 50px;

}

.play button {
    
    margin: auto;
}


/* style for user color choice */
.color-choice {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-around;
    align-items: center;
}

.color {
    width: 45px;
    height: 35px;
}

.purple {
    background-color: #962d3e;
}

.blue {
    background-color: #004358;
}

.green {
    background-color: #477725;
}

.yellow {
    background-color: #eb7f00;
}

.orange {
    background-color: #b64926;
}

.red {
    background-color: #8e001c;
}


/* style for controle button */
.controle {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-around;
    align-items: center;
}

.controle button {
    margin: auto;
}

/* style for color choice */



/* style for game set */

.plateau {
    background-color: #fff0a5;
    height: 450px;
}

.line {
    height: 40px;
    border-bottom: 2px solid #555;
}

.combinaison {
    height:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-around;
    align-items: center;
}

.resultat {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-left: 1px solid black;

}

.pion {
    height: 20px;
    width: 20px;
    border: 1px solid #888562;
}

.pion-resultat {
    width: 10px;
    height: 10px;
    border: 1px solid #888971;
    margin: auto 15%;
}

.show-response {
    width: 40px;
    heigth: 40px;
    margin: auto;
}






/***************************************************************************
******************************************************************************
*************** MEDIA QUERIES ************************************************
******************************************************************************
 ******************************************************************************/

