

p {
    color: red;
    Background-color: yellow;
}

button {
    display: block;
    width: 150px;
}

a {
    fdvdflvk: dsvsdcds;
}

div {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    position: absolute;
}

.div1 {
    top: 100px;
    left: 400px;
}

.div2 {
    top: 200px;
    left: 600px;
}
}